<!doctype html>
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<style>
.container{
    padding:5%;
}
.container .img{
    text-align:center;
}
.container .instructions{
    border-left:1px;
}
.container .details{
    border-left:3px solid #ded4da;
}
.container .details p{
    font-size:15px;
    font-weight:bold;
}
</style>
<div class="container">
  <div class="row">
    <div class="col-md-6 img">
      <img src={{img}}  alt="" class="img-rounded">
    </div>
    <div class="col-md-6 details">
        <h2><cite title="Source Title">{{title}}  <i class="icon-map-marker"></i></cite></h2>
      <p>
        <i class="glyphicon glyphicon-cutlery"></i> Servings: {{ servings }}
        | <i class="glyphicon glyphicon-time"></i> Prep Time:  {{ prep_time }}
        | <i class="glyphicon glyphicon-time"></i> Cook Time:  {{ cook_time }}
      </p>
    </div>
    <div class="col-md-6 details">
      <b>Ingredients: </b>
      {% for i in ingredients %}
          {% if forloop.last %}
            {{i}}.
          {% else %}
            {{i}},
          {% endif %}
      {% endfor %}
    </div>
    <div class="col-md-10">
      <h3>Instructions:</h5>
      <hr style="width:100%;text-align:left;margin-left:0">
      {% for i in instructions %}
        <br><i class="glyphicon glyphicon-minus"></i> {{i}} </br>
      {% endfor %}
    </div>
  </div>
